{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.


  Add this tag after creating favicon
  <meta property="og:image" content="https://code-study.tistory.com/images/img_share.png">

{% endcomment %}

<meta property="og:url" content="https://spicyjo.github.io/">
<meta property="og:title" content="SPICYJO's Tech Blog">
<meta property="og:type" content="website">
<meta property="og:description" content="Blog that talks about computers, programming and wonderful things">
